<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    Super Desk Rentals Representatives would love to help you<br>
    choose a destination or answer any questions you may have.
  </p>
  <address>
    Super Desk Rentals HQ
    <p>
      1212 Testlahoma <br>
      OKC, OK 73071
    </p>
    <a href="tel:405.999.9999">+1 (405) 999-9999</a><br>
    <a href="mailto:#">imryanlabouve@gmail.com</a>
  </address>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
</div>